<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="public/dist/css/light7.min.css">
    <link rel="stylesheet" href="public/dist/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/dist/css/index.css">
  </head>
  <body>
     <div class="page firstPage" ng-app="myApp"  ng-controller="myCtrl">
        <header class="bar bar-nav">  
		    <h1 class="title" style="color: #373737;font-size: 1rem;">账户登录</h1>
		</header>
		<div class="content">
		  <div class="list-block">
		    <ul>
		      <!-- Text inputs -->
		      <li>
		        <div class="item-content">
		          <div class="item-inner">
		           <div class="item-input">
		               <input type="text" placeholder="请输入您的手机号" class="phoneInput" maxlength="11">
		            </div>
		        </div>
		        </div>
		      </li>
		      <li>
		        <div class="item-content">
		          <div class="item-inner itemInput">
		              <input type="text" class="fl codeInput" placeholder="输入验证码 666666" maxlength="6">
		              <div class="fr getCode" ng-click="getCode()"> 获取验证码</div>
		              <button class="btn btn-small reset-code" id="J_resetCode" style="display:none;"><span id="J_second">60</span>秒后重发</button>
		          </div>
		        </div>
		      </li>
		    </ul>
		  </div>
		 <!--登录按钮--> 
		  <div class="content-block Button">
		    <p><a href="" class="button button-big button-round" ng-click="enter()"> 登 录 </a></p>
		  </div>
	   </div><!--content-->
	  </div><!--PAGE-->

    <script type='text/javascript' src='public/dist/js/jquery-3.2.1.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='public/dist/js/angular.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='public/dist/js/light7.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='public/dist/js/index.js' charset='utf-8'></script>
  </body>
</html>


