.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #00b7ee;
	padding: 6px 5px 7px 5px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
}
.webuploader-pick-hover {
	background: #00a2d4;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

.webuploader .picker {
    display: inline-block;
    line-height: 1.42857;
    margin: 0 12px 0 0;
    vertical-align: middle;
}
.webuploader .thumbnail {
    height: 110px;
    width: 110px;
}
.webuploader .file-item {
    margin: 0 auto;
    padding: 4px;
    position: relative;
}
.webuploader .file-item .info {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: 4px;
    color: white;
    font-size: 12px;
    height: 20px;
    left: 4px;
    line-height: 20px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    text-indent: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 10;
}
.webuploader .file-item .error {
    background: red none repeat scroll 0 0;
    color: white;
    font-size: 14px;
    height: 20px;
    left: 4px;
    line-height: 18px;
    position: absolute;
    right: 4px;
    text-align: center;
    top: 4px;
}
.webuploader .file-item .success {
    background: #01ff80 none repeat scroll 0 0;
    color: #3173ae;
    font-size: 14px;
    height: 20px;
    left: 4px;
    line-height: 18px;
    position: absolute;
    right: 4px;
    text-align: center;
    top: 4px;
}
.webuploader #fileList{margin-top: 5px;}
.webuploader .file-item .close{
    background: #ffffff none repeat scroll 0 0;
    color: #919191;
    opacity:0.8;
    filter:alpha(opacity=80);
    width: 20px;
    border-radius:12px ;
    font-size: 14px;
    height: 20px;
    line-height: 18px;
    position: absolute;
    right: -5px;
    text-align: center;
    top: -5px;
    z-index: 999;
}
.webuploader .file-item .progress {
    background: transparent none repeat scroll 0 0;
    border-radius: 0;
    bottom: 4px;
    height: 4px;
    left: 4px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 4px;
    z-index: 15;
}
.webuploader .file-item .progress span {
    animation: 2s linear 0s normal none infinite running progressmove;
    background: #d14 url("progress.png") repeat-x scroll 0 0;
    display: block;
    height: 100%;
    overflow: hidden;
    transition: width 200ms linear 0s;
    width: 0;
}

.webuploader .btn{vertical-align: top;}

