#productList .row {
    padding: 0px 5px;
}
#productList .col-xs-6{
	padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
}
.navbar img{
	/* width: 10rem; */
	height: 4rem;
	padding:4px;
}
.navbar span{
    line-height: 4rem;
    padding-right: 1rem;
    font-size: 1.6rem;
    color: #ff9600;
}
.Contract{
	text-align: center;
	font-size: 2rem;
    color: #FFF;
    margin: 1rem 0!important;
    padding: 0!important;
}
.TIP{
	margin: 1rem 0!important;
}
.TIP p{
   text-align: center;
   color: #666;
}
 .app-fixed .app-nav {
 	border-top: 1px solid #ccc;
}
.app-nav .appItem span{
	color: #666;
}
.app-nav .appItem img {
    height: 26px;
    width: 26px;
}
.pager li>a{
   margin-top: 3px;
}
.touchslider-nav{
	border-bottom: 5PX solid #F3F2F1;
	margin-bottom:10px;
	padding-bottom: 10px;
}
.choosenum{
	border-top: 1px solid #ededed;
}
.areaList{
	border-right:1px solid #ccc;
}
#selectBox{
	width: 100%;
}
#selectBox .btn{
	background:#FFF;  
}
.btn .caret {
    margin-left: 14px;
}
.numList{
	margin-top: 12px!important;
}
.numList label input{
	margin-right: 6px;
}
.turnPage{
	border-top: 1px solid #ededed;
	padding: 8px 0;
	border-bottom: 5PX solid #F3F2F1; 
}
.cardTips{
	width: 100%;
	padding:15px;
	background: #FFE6C8;
}
.cardTips p{
	color: #FF7600;
	margin:0;
}
.leftIcon{
	width: 5px;
    height: 20px;
    background: #FF9600;
    display: block;
    border-radius: 3px;
    margin-right: 5px;
    float: left;
}
#ADD{
    width: 100%;
    padding: 3px 0;
    overflow: hidden;
}
.orderMsg{
	margin-left: -15px;
	margin-bottom: 0;
}
.orderMsg input,.orderMsg textarea {
    border: 0;
    outline: none;
}
.orderMsg .list-group-item{
	border:0;
	margin-bottom:0;
	border-bottom: 1px solid #ddd;
}
.listgroupLast{
	border-bottom: 5PX solid #F3F2F1!important; 
}
.searchOrderStatu{
	padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
}
.searchOrderStatu a{
	color: #ff9600;
}
.serchBtn{
	position: absolute;
	right: 16px;
	top: 8px;
    z-index: 9999;
    border-left: 1px solid #ccc;
    padding-left: 10px;
    color: #aaa;
}
.orderTime{
	background: #FFF;
	color: #ccc;
}
.findStatu{
	background: #FFF;
	color: #333;
	border-radius: 0;
}
.searchCon{
	display: none;
}
.searchCon .list-group-item{
	border-left: 0;
	border-right: 0;
}
.searchINPUT{
	background:url(../images/new/search.png) no-repeat left center;
	background-size: 32px;
	padding:0 80px 0 38px;
}
.SUCC{
	margin-top: 10px;
}
.SUCC strong{
	background: url(../images/new/success.png) no-repeat left center;
	background-size: 30px;
	font-size:18px;
	padding: 10px 36px;
	margin-left: 40px;
}
.returnIndex{
	text-align: center;
	margin-top: 30px;
}
.returnIndex .btn {
    border: none;
    width: 86%;
    border-radius: 20px;
    background: #FF9600;
    color: #FFF!important;
}
.FAIL{
	margin-top: 20px;
}
.FAIL strong{
	background: url(../images/new/fail.png) no-repeat left center;
	background-size: 30px;
	font-size:18px;
	padding: 10px 36px;
	margin-left: 40px;
}
.errorMsg{
	margin-top:10px;
	color:#EA2000;
}
 .titleP{
   	    font-size: 15px;
    padding: 8px 15px;
   }
  .resP span{
  	color: red;
  }
  .cardType{
  	background: none;
  }
.box{
	 margin: 0 auto;
	 width:200px;
	 height: 30px;
	 border:1px solid #ccc;
	 margin-top: 10px;
	 line-height: 30px;
}

.box input.paw{
	 width: 35px;
	 height: 25px;
	 line-height: 25px;
	 margin-left: -9px;
	 border:none;
	 border-right: 1px dashed #ccc;
	 text-align: center;
	 -webkit-appearance: none; 
	 border-radius: 0!important;
}
.box input.paw:nth-child(1){
     margin-left: 0;
}
.box .pawDiv:nth-child(6) input.paw{
     border: none;
}
 .box input.paw:focus{
     outline:0;
 }
.box .pawDiv{
	 display: inline-block;
	 float: left;
}
.point{
	 font-size: 14px;
	 color: #ccc;
	 margin: 5px 0;
}
  .CARDTYPE{
  	 margin-bottom: 10px;
  }
  .numRes{
  	 font-size: 15px;
  	 text-align: center;
  	 margin-top: 10px;
  }
  .listNum{
  	 font-size: 15px;
     padding: 8px 15px;
     border-bottom: 1px solid #F3F2F1;
  }
