

*{margin:0;padding:0;list-style:none;}

body{font-size:14px; font-family:'微软雅黑';background: #EEEDEB;}

a,a:hover{ text-decoration:none;}

.layinput{height: 22px;line-height: 22px;width: 150px;margin: 0;}

.input-group-addon{
	background-color:#F4F7FE;
	border-radius:0;
	height: 40px;
	padding: 10px 20px;
}
.topMsg{
	padding: 20px 5px;
    border-bottom: 1px solid #EEEDEB;
    margin: 20px 10px;
    padding-top: 0;
}
.laydate-icon{
	height: 40px!important;
    padding: 0 10px;
    width:100%;
}
.nameInput{
	border: 1px solid #ccc;
    height:40px;
    outline: none;
    padding: 0 10px;
     width:100%;
}
.searchAdd input{
	height: 40px;
	width: 80px;
	text-align: center;
	line-height: 40px;
    margin-right: 10px;
    color:#FFF;
    border:none;
    outline: none;
}
#word{
	position: absolute;
	z-index: 99;
	width: 240px;
	height: auto;
	border: #EEEDEB solid 1px;
	display: none;
	background:#FFF;
	height: 260px;
	overflow-y: auto;
}
.click_work{
	line-height: 24px;
	font-weight:lighter;
	font-size: 13px;
	cursor:pointer;
	padding-left: 10px;
}
.click_work:hover{
	background-color:#EEEDEB;
}
.progress{
	background: #00B8B2;
	cursor: pointer;
}
.progress-bar{
	background: #8EACDD;
	cursor:pointer;
}
.callNum{
	padding: 0px 50px;
	border-right: 1px solid #EEEDEB;
	margin-bottom: 15px;
}
.callNum h5{
	color: #798D99;
	font-size: 14px;
	margin-bottom:20px;
}
.callNum h3{
	color: #7B8D97;
    font-size: 28px;
}
.msgShow{
	margin-top:10px;
	padding:40px;
}
.msgShow table th{
	text-align: center;
}
.msgShow table{
	background: #F4F7FE;
}
.msgShow table caption{
	color: #2F424C;
	font-size: 16px;
	margin-bottom:10px;
}
.daypre{
	width: 100%;
	height:350px;
	margin:0 auto;
	margin-bottom: 30px;
}
.daypreleft{
	color: #2F424C;
	border-right: 1px solid #EEEDEB;
}
 .twoYear{
	height:350px;

	 width: 100%;
	
} 
.beizhu{
	margin-top:10px;
	padding:20px;
}
.beizhu table th{
	text-align: center;
}
.beizhu table{
	background: #F4F7FE;
}
.beizhu table tfoot tr .pagin{
	padding:30px;
}
.addTD span{
	width:10%;
	display:inline-block;
	float:left;
	font-weight: bold;
	padding: 6px;
}
.addTD .addbtn{
	float:right;
	height: 40px;
	width: 80px;
	text-align: center;
	line-height: 40px;
    margin-right: 10px;
    color:#FFF;
    border:none;
    outline: none;
    background: #00B8B4;
}
.addTD .addVal{
	width:78%;
	padding: 6px;
	border-color: #EEEDEB;
	outline: none;
}
.del{
	color: red;
}
.save{
	display: none;
}
.forTR td{
	outline: none;
}
.forTR td span{
	cursor: pointer;
}
.search{
	padding:5px;
	margin: 0;
}
.statu{
	border: 1px solid #ccc;
    height:40px;
    outline: none;
    padding: 0 10px;
    width: 100%;
}
.pattInput{
	border: 1px solid #ccc;
    height:40px;
    outline: none;
    padding: 0 10px;
     width: 66%;
}
.pattName{
	 width: 118px;
	 margin-right:-5px;
     display: inline;
     height: 40px;
     border-radius:0; 
     background:#F4F7FE;
}
#chosePat{
    position: absolute;
    z-index: 99;
    width: 240px;
    height: auto;
    border: #EEEDEB solid 1px;
    display: none;
    background: #FFF;
    left: 132px;
    height: 260px;
    overflow-y: auto;
   
}

.clickwork{
    line-height: 24px;
    font-weight: lighter;
    font-size: 13px;
    cursor: pointer;
    padding-left: 10px;
}
.pagin{
	font-size: 80%;
}    
.pagin a{
	text-decoration:none;
	border:solid 1px #AAE;color:#15B;
}
.pagin a,.pagin span{
	display:inline-block;
	padding:0.4em 1em;
	margin-right:5px;
	margin-bottom:5px;
}
.pagin .current{
	background:#26B;
	color:#fff;
	border:solid 1px #AAE;
}
.pagin .current.prev, .pagin .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
.editInput{
	 display: none;
}
.editInput input{
	width: 100%;
    padding: 0 6px;
    border-color: #EEEDEB;
    outline: none;
   
}
.showcall{
	display: none;
}

.CALL .callNum:last-child{
    border-right:none; 
}

.hideLoad{
	width: 100%;
	height: 50px;
	margin-top:46px;	
	/* display: none; */
}

.hideLoad>img{
	margin:0 auto;
	display: block;
	width:36px;
}








