
.line{border-bottom: 1px solid red;
      width: 100%;
}
.carbg{width: 100%;
      height: 900px;
      background-color: #F5F5F5;
      overflow: hidden;
    }
.carcon{
  width: 1200px;
  height: 850px;
  margin: 0 auto;
}
.carcontop{width: 1200px;
height: 32px;
margin-top: 20px;
margin-bottom: 20px;}


.conl{background:url(../images/car00.png) no-repeat left center;
   padding-left: 25px;
   margin-left: 10px;
   margin-top: 7px;
}
.conl a span{color: #C30D23;}
.conl a{color: #666;
font-weight: 600;}

.conr ul li{float: left;
  padding-left: 5px;
}
.li1{background: #C30D23!important;}

.li2{border-bottom: 1px solid #666;
    width: 66px;
    height: 15px;}

.conr ul li span{
  width: 30px;
  height: 30px;
  border: 1px solid ;
  border-radius: 30px;
  background: #898787;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  color: #fff;
}

.gwc{ width:1200px;overflow:hidden;
background: #fff;}

.gwc_tb1{ width:100%; 
  background:#C30D23; height:50px;
  overflow:hidden;
  color: #fff;}

.tb1_td1{ width:35px; text-align:center;}
.tb1_td2{ width:135px; text-align:center;}
.tb1_td3{ width:370px; text-align:center; background:url(../images/td1.jpg) right no-repeat;}
.tb1_td4{ width:220px; text-align:center; background:url(../images/td1.jpg) right no-repeat;}
.tb1_td5{ width:120px; text-align:center; background:url(../images/td1.jpg) right no-repeat;}
.tb1_td6{ width:135px; text-align:center; background:url(../images/td1.jpg) right no-repeat;}
.tb1_td7{ text-align:center;width: 128px;}
.tb1_td8{ text-align:center;
width: 128px;}

.carp{margin:20px 0 20px 5px;
font-weight: 600;}

.carp1{border: 1px solid #EEEEEE;
width: 1198px;
height: 50px;
line-height: 50px;
margin: 0 auto;
color: #666;
margin-top: 10px;}

.carp1 a{display: inline-block;
   padding:0 10px;
}
.a1{
width: 32px;
height: 20px;
border-radius: 5px;
background: #C30D23;
text-align: center;
line-height: 20px;
color: #fff;}

.a2{color: #C30D23;}

.gwc_tb2{ width:100%; border:1px solid #e5e5e5; padding-top:20px; padding-bottom:20px;margin: 0 auto;}
.tb2_td1{ width:60px; text-align:center;}
.tb2_td2{ width:100px; text-align:center;}
.tb2_td2 img{ width:96px; height:96px; border:2px solid #c9c6c7;}
.tb2_td3{ width:255px; padding-left:12px; padding-right:18px;}
.tb2_td3 a{ font-size:14px; line-height:22px;
color: #666;}

.gwc_tb3{ width:100%; height:46px; margin-top:20px; }
.gwc_tb3 tr td{font-size:14px;}
.tb3_td2{ width:100px;text-align:center;}
.tb3_td2 span{ color:#ff5500;font-size:14px; font-weight:bold; padding-left:5px; padding-right:5px; }
.tb3_td3{ width:220px;text-align:center;}
.tb3_td3 span{ font-size:18px; font-weight:bold;}
.tb3_td4{ width:110px;text-align:center;}
.jz2{ width:100px; height:46px; line-height:46px; text-align:center; font-size:18px; color:#fff; background:#ee0000; display:block; float:right;}
#jz1{font-size:18px;}

.tb1_td5 p{margin-top: 5px;
color: #666;
font-size: 13px;}

.tb1_td7 a{
  font-size: 14px;
  color:#C30D23;
  padding: 10px;
}
#total1,#total2,#total3,#total4{color: #C30D23;
font-weight: 600;}
#jz1{background: #C30D23;
color: #fff;
font-weight: 600;
display: inline-block;
width: 100px;
height: 45px;
text-align: center;
line-height: 45px;
margin-left: 10px;}

.foot1{margin-top: 0!important;}

