
.nav{background: #C30D23;
    width: 100%;
    min-width: 1200px;
    height: 50px;
}
.navcon{
    width: 1200px;
    height: 50px;
    margin:0 auto;
}
.navcon>ul>li{float: left;
  position: relative;
  height: 50px;
}

.navcon>ul>li>a{display: inline-block;
    width: 109px;
    height: 50px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-weight: 600;
  overflow: hidden;
}
.navcon>ul>li>a:hover{color: #C30D23;
 background: #fff;
}

.navcon>ul>li>.firsta{ 
    width: 170px!important;}

.searchcon{
   width: 1200px;
   height: 1420px;
   margin: 0 auto;
}
.topul{margin: 20px 0;}

.topul span{
  font-size: 14px;
  font-weight: 600;
  color:#444;
}
.topul span:last-child{background: url(../images/down00.png) no-repeat left center;
  display: inline-block;
  width: 20px;
  height: 14px;

}
.midul{  background: #ECECEC;
  width: 1200px;
  height: 305px;
}
.leftul{
  width: 150px;
  height: 300px;

}
.leftul ul li{
  display: block;
  width: 150px;
  height: 60px;
  line-height: 60px;
  text-align: center;
   font-size: 18px;
 font-weight: 600;
 color:#444;

}
.midmidul {width: 1050px}
.midmidul ul li{
  display: block;
  height: 60px;
  line-height: 60px;
  text-align: left;
   font-size: 14px;
   font-weight: 600;
   color: #666;
   border-bottom: 1px dashed #ccc;
   overflow: hidden;
}
.midmidul ul li:last-child{border-bottom: none;}

.midmidul ul li a{
  display: inline-block;
  width: 70px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 1px solid #ccc;
  color: #666;
  float: right;
  margin-left: 118px;
  margin-top: 15px;
}
.midmidul ul .color span{
  display: inline-block;
  width: 30px;
  height: 15px;
}
.midmidul ul li .li1{
  background: red;
}
.midmidul ul li .li2{
  background:orange;
}

.midmidul ul li .li3{
  background: yellow;
}

.midmidul ul li .li4{
  background: green;
}
.midmidul ul li .li5{
  background: blue;
}
.midmidul ul li .li6{
  background: #666;
}
.midmidul ul li .li7{
  background: black;
}
.midmidul ul .other span{
   background: url(../images/arr00.png) no-repeat right 2px;
   padding-right: 15px;
}

.leftcon{
  width: 196px;
  height: 1050px;
  border:1px solid #ccc;
  clear: both;
}
.leftcon>h3{
  width:196px;
  text-align:center;
  height:20px;
  line-height:20px;
  margin-top:15px;
  color:#f55;
}
.conone h4{
  margin: 8px 10px;
  font-size: 15px;
  font-weight: normal;
}
.conone{
  width: 196px;
  height: 333px;
  overflow: hidden;
}
.conone .oneimg{
  margin-top: 10px;
  margin-left: 12px;
}
.imgyy{margin-left: 12px;}

.conone .twoimg{
  width: 36px;
  height: 36px;
  border:1px solid #666;
}
.conone h3{
  color: #C30D23;
  margin-left: 10px;
  margin-top: 5px;
}
.conone p{
  margin-left: 10px;
}
.conone p span{
  border:1px solid #ccc;
  padding:3px 6px;
  margin:0 -4px;
  font-size: 14px;
}

.rightcon{
  width: 1000px;
  height: 900px;
  margin-top: 30px;
}
.top1{
  height:35px;
   width:1000px;
   background:#ddd;
}
.top1 ul,.top2 ul{
  height:30px;
  padding-top:5px;
  padding-left:20px;
  float: left;
}
.top1 ul li,.top2 ul li{
  float:left;
  display:inline-block;
  width:65px;
  height:20px;
  text-align:center;
  line-height:20px;
  background:#fff;
  font-size:13px;
  border:1px solid #ccc;
}
.lione{
  background:#C30D23!important;
  color:#fff;
}
.toppage{width: 250px;
    height: 35px;}

.toppage p{
  line-height: 35px;
}
.toppage p span{
  font-size: 14px;
}
.toppage p .pagel{
  display: inline-block;
  width: 40px;
  height: 20px;
  text-align: center;
  line-height: 22px;
  background: #f00;
  color: #fff;

}
.top2{
  height:35px;
   width:1000px;
   background:#eee;
}
.litwo{width: 150px!important;}

.top2 form{width: 350px;
    height:16px;
    font-size: 14px;
    border: 1px solid #ccc;
    float: left;
    padding:6px 8px;
    margin-left: 30px;
    margin-top: 2px;
    overflow: hidden;
}
.rtext{
 margin-top: 20px;
 margin-left: 10px;
}
.rtext h5{
  margin-top: 15px;
  margin-left: 10px;
  color: #444;
}
.rtext img{
  margin-top: 10px;
}
.cont{
  margin-left: 2px;
  margin-top: 50px;
}



