
.content{
 width: 1200px;
 height: 748px;
 margin: 0 auto;
}
.contl{
  width: 150px;
 height: 748px;

}
.contl .redli{
background: #C30D23;
color: #fff;
}
.contl>img{width:150px;}

.contl>ul li{
width: 150px;
text-align: center;
height: 46px;
line-height: 46px;
background: #ECECEC;
}
.contl>ul .redli a{color: #fff;}
.contl>ul>li a{color: #666;}

.conr{
    height: 746px;
    width: 1050px;
    background: #F5F5F5;
}
.conrtop{background: #ECECEC;
  width: 1050px;
  height: 50px;
  overflow: hidden;
}
.conrtop ul li{float: left;
  display: block;
  width: 100px;
height: 50px;
 text-align: center;
line-height: 50px;
font-size: 14px;}

.conrtop .red{
  background: #C30D23;
color: #fff;
}

.touxiang>a>img{
  width: 90px;
  height: 90px;
}
.touxiang{margin-left: 200px;
margin-top: 30px;}

.touxiang p{
  margin-left:12px;
  margin-bottom: 10px;
  font-size: 13px;
}
.call{margin-top: 30px;}
.call p{font-size: 13px;}
.p1{margin-left: 80px;}

.p1 input{width: 250px;
height: 25px;}

.p2{margin-left: 140px;
margin-top: 10px;}

.name{
  margin-top: 30px;
  margin-left: 68px;
  font-size: 13px;
}
.name input{width: 250px;
height: 25px;
}
.namenext{
  width: 800px;
  height: 100px;
  overflow: hidden;
  font-size: 13px;
  margin-left: 88px;
  margin-top: 20px;
}
.rightul{margin-left: 150px;}

.namenext ul li{margin-top:20px;}

.interesting{width: 650px;
height: 150px;
margin-top: 50px;
margin-left: 68px;}

.interesting p{display: inline-block;
 float: left;width: 100px;
 height: 150px;
  font-size: 13px;}

.interesting ul .carthing{color: #888;}

.interesting ul li{
  float: left;
  border:1px solid #666;
  margin-left: 10px;
  font-size: 13px;
  display: inline-block;
  width: 100px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  background: #fff;
}
.nextl{margin-top: 20px;}
.conr a h3{display: block;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background:#C30D23; 
    color: #fff;
    margin-left: 350px;}

