*{margin: 0;
padding: 0}

.fl{float: left;}
.fr{float: right;}

a{text-decoration: none;
}

li{list-style: none;
}
img{border: 0 none;}

body{font-family: "宋体"}

.top{
    width: 100%;
    min-width: 1200px;
    height: 80px;
    background: #F7F7F7;
}
.topcon{
    width: 1200px;
    height: 80px;
    margin:0 auto;
}
.topcon a img{
    margin-top:10px;
}
.topcon p{
    line-height: 80px; 
}
.topcon p a{
    color: #000;
}
.content{
    width: 1200px;
    height: 570px;
    margin: 50px auto;
}
.conleft{
    width: 900px;
    height: 518px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.text1{border: 1px solid #ccc;
    margin-top: 50px;
   height: 110px;
   width: 750px;
   overflow: hidden;
   margin-left:20px;
}
.text1 h4{
    margin-top: 15px;
    margin-left: 20px;
}
.text1 p{
    margin-top: 8px;
    font-size: 13px;
    padding-left: 20px;
}
.connext{
    padding-top: 150px;
   height: 120px;
   width: 888px;
   overflow: hidden;
}
.text2{
    border: 1px solid #ccc;
   line-height: 60px;
   height: 60px;
   width: 700px;
   overflow: hidden;
   margin-top: 56px;
   padding-left: 20px;
   margin-left: 20px;
   font-size: 14px;
}
.connext img{
    padding-left: 20px;
}
.conlast{
    width: 900px;
    height: 35px;
    background: #C6C6C6;
    margin-top: 50px;
}
.conlast span{
    line-height: 35px;
    font-size: 14px;
    display: inline-block;
    margin-left: 20px;
}

.conlast .span3{
    margin-right: 20px;
}
.conright{
    width: 295px;
    height: 570px;
}
.right1{
    width: 295px;
    height: 276px;
}
.right1 h4{
    width: 275px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #E5E5E5;
    padding-left: 20px;
    color:#666;
}
.rtext{
    background: #F4F3F3;
    width: 295px;
    height: 200px;
}
.rtext p{
    font-size: 14px;
   line-height: 30px;
   padding-left: 20px;
}




