<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="dist/css/light7.min.css">
    <link rel="stylesheet" href="dist/css/light7-swiper.min.css">
    <link rel="stylesheet" href="dist/css/light7-swipeout.css">
    <link rel="stylesheet" href="dist/css/index.css">
  </head>
  <body>
     <div class="page" ng-app="myApp"  ng-controller="myCtrl">
        
	    <div class="content">
		   <div class="card demo-card-header-pic conCard">
			  <div valign="bottom" class="card-header color-white no-border no-padding">
			     <img class='card-cover' src="dist/img/bg-2.png" alt="" style="width:100%;height:100%;">
			  </div>
	       </div>
	       <div class="content-padded">
	          <!--  <p style="font-size: 0.8rem;color:#FF3366">您还有以下号码需要激活</p> -->
			     <p style="font-size: 0.8rem;color:#FF3366;text-indent: 0.5rem;"> * 同一证件下任选一个号码激活，其他号码同步激活。同商品手机激活，宽带按手机机主同步激活，请优先选择手机产品激活。</p>
		  	</div>
         <!-- 身份证列表 -->
         <div class="list-block">
		     <ul>
            <div class="content-padded" ng-show="List1.length<1">
               <p>您没有需要激活的帐号！</p>
            </div>
           <li class="titleLi" ng-repeat="x in List1">
            <!-- 身份证号 -->
            <div class="item-inner pepCard">
              <div class="item-title" style="font-size: 0.7rem;">身份证号：<span ng-bind="x.cardName" class="hidepepCard"></span></div>
              <div class="item-after afterimg">
                 <img src="dist/img/down.png" alt="" >
              </div>
            </div>
            <!-- 隐藏的内容 -->
            <div class="item-content hideCon" style="display: none;" >
              <div class="item-inner">
                <div class="item-input">
                  <label class="label-checkbox item-content" ng-repeat="y in x.number">
                    <input type="radio" name="my-radio" ng-click="chose()">
                    <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                    <div class="item-inner">
                       <span ng-bind="y.roleName"></span>
                    </div>
                  </label>
                </div>
              </div>
            </div><!-- 隐藏的内容 -->
          </li>
        </ul>
        </div><!-- 身份证列表 -->
      <!-- 按钮 -->
  	  <div class="content-block secbtn">
  	    <p>
  	       <a href="#" class="button button-big button-round button-fill button-success" ng-click="enterPage2()">申 请 激 活 </a>
  	    </p>
  	  </div> <!-- 按钮 -->
    </div>  
	</div><!--PAGE-->
  </body>
</html>

<script type='text/javascript' src='dist/js/jquery-3.2.1.min.js' charset='utf-8'></script>
<script type='text/javascript' src='dist/js/angular.min.js' charset='utf-8'></script>
<script type='text/javascript' src='dist/js/light7.min.js' charset='utf-8'></script>
<script type='text/javascript' src='dist/js/index.js' charset='utf-8'></script>

<script>
    $(document).ready(function(){

    //切换样式  	
      $(".pepCard").click(function(){
	       $(this).parents(".titleLi").toggleClass("activeLi");
	       $(this).siblings(".hideCon").toggleClass("active");
	       $(this).find("img").toggleClass("imgActive");
      })

  //隐藏身份证前14位
   $(".hidepepCard").each(function(){
      var str = $(this).html();
      var reg = /\d{14}(\d{3}([0-9]|x|X))/
      var newstr = str.replace(reg, '**************$1');
     $(this).html(newstr);
    })
 })

</script>




