*{
	margin: 0;
	padding: 0;
	list-style: none;
	color: #fff;
}
body{
	font-family: "Microsoft Yahei";
	z-index: 1;
}
.topnav{
	height: 80px;
	background:#181D21;
}
.navleft>h3{
	color: #fff;
	margin-left: 30px;
}
.navright>h3{
	margin-right: 30px;
}
.navright ul li{
	float: left;
	margin-left: 20px;
}
.shuju ul {
	display: block;
	margin: -5px auto;
	width: 200px;
}
.shuju ul li{
	float: left;
	margin-left: 15px;
}
.shuju ul li span{
	padding-left: 5px;
}
.con{
	background:url(../img/bg.png) ;
	padding: 0;
	overflow: hidden;
}
.chartcon{
	margin-top: 20px;
	margin-bottom: 20px;
}
.chart1{
	margin-left: -15px;
	height: 260px;
	background:#1F262C ;
}
.nomove{
	margin-left: 0px!important;
}
.chartleft{
	margin-left: -15px;
	height: 260px;
	background:#1F262C ;
}
.circliful {
    position: relative; 
}
.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
}
.circle-info {
	color: #FFF;
	padding-top: 5px;
	font-weight: 600;
	font-size: 13px;
}
.circliful .fa {
	position: relative;
	bottom: 4px;
}
#myStat1,#myStat2,#myStat3,#myStat4{
	margin: 0 auto;
	padding-top:20px;
}
.chart1 p{
	text-align: center;
	font-size: 13px;
}
.tabcon,.usercon{
	display: none;
	padding: 20px;
}
.content{
	margin: 20px;
	background:#1F262C;
}
.contt{
	width: 100%;
	height: 31px;
	border-bottom: 1px solid #303D45;
}
.tabtitle li,.usertitle li{
	display: block;
	width: 130px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	float: left;
	cursor: pointer;
}
.select{
	background: #181D21;
}
.leftlb li{
	list-style:disc ;
	margin-top: 10px;
	font-size: 13px;
	margin-left: 22px;
}
.leftcon p span{
	padding-left: 5px;
	font-size: 13px;
}
.chose {
	margin-bottom: 40px;
}
.chose .card li{
	float: left;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align:left;
	display: inline-block;
	margin-left: 25px;
	font-size: 13px;
}
.luform form label{
	width: 100px;
	text-align: right;
	font-weight: normal;
}
.luform form p{
	margin: 20px 0;
}
.luform form p input{
	margin-left: 20px;
	background: #1F282D;
	padding: 3px;
	font-size: 13px;
	border: 1px solid #969EA1;
	width: 120px;
}
.warntab{
	margin-left: 25px;
}
.warntab tbody tr td{
	width: 150px;
	height: 32px;
	padding-left: 10px;
	border:1px solid #788387!important;
}
.sub{
	margin-top: 30px;
	margin-left:670px;
}
.sub input{
	width: 90px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border: none;
	font-size: 13px;
	border-radius: 2px;
	margin:8px;
}
.luform form .leixing li{
	float: left;
}
.leixing input,.leixing select,.luform form p select{
	margin-left: 20px;
	background: #1F282D;
	padding: 3px;
	font-size: 13px;
	border: 1px solid #969EA1;
	width: 120px;
}
.vlan input{
	width: 16px!important;
}
/*input::-webkit-input-placeholder{ 
     color: #E7E8EC; 
} 
input:-moz-placeholder{ 
     color: #E7E8EC; 
} 
input::-moz-placeholder{ 
     color: #E7E8EC; 
} 
input:-ms-input-placeholder{ 
     color: #E7E8EC; 
} 
*/
.userinput input{
	margin-left: 20px;
	background: #1F282D;
	padding: 3px;
	font-size: 13px;
	border: 1px solid #969EA1;
	width: 120px;
}
.userbtn{
	margin-left: 20px!important;
}
.addtit{
	background: #4D5F6B;
}
.modal-header{
	padding: 0;
}
.modal-header h5,.modal-header i{
	height: 40px;
	line-height: 40px;
	color: #FFF;
}
.modal-header i{
	padding-right: 20px;
	font-size: 16px;
}
.modal-header h5{
    padding-left: 20px;
}
.modal-body {
	background: #3C4D55;
	margin-top: -2px;
	padding: 0;
}
.warnzb{
	width:330px ;
	height: 270px;
	margin: 0 auto;
	padding-top: 50px;
}
.warnzb p label{
	width: 100px;
    text-align: right;
    font-weight: normal;
}
.warnzb p{
	margin-top: 15px;
}
.warnzb p input,.warnzb p select{
	margin-left: 20px;
	background: #1F282D;
	padding: 3px;
	font-size: 13px;
	border: 1px solid #969EA1;
	width: 120px;
}
.modal-dialog{
	width: 700px;
	margin: 130px auto;
}
.subfoot{
	background:#4D5F6B ;
	margin: 0;
	height: 50px;
    padding-right: 20px;
}
.lutr,.jktr{
	display: none;
}
.jkform,.yyform,.llform{
	display: none;
}
.leftlb li i{
	padding-right: 30px;
}
.delcon{
	width: 333px;
	height: 200px;
	background: #3C4D55;
}
.delfoot{
	background: none;
}
.delcon h5{
	text-align: center;
	padding: 50px 0;
}

.cans li{
	float: left;
	padding:5px 20px;
	text-align:center;
	margin-left: 20px;
	font-size: 13px;
	cursor: pointer;
	 margin-top: -3px
}
.card{
	margin-left: 25px;
	margin-top: 0;
}
.choseul li{
	border-radius: 30px;
	background: #5F6A70;
}
.delfoot{
	margin: 8px;
	padding:0;
}

